$green: #61ba32;
$darkgreen: #014400;
$blue: #3498db;
$red: #e74c3c;

@import "~bootstrap";

h1 {
    font-size: 32px;
}

.content {
    min-height: 80vh;
}

.word-accent {
    font-size: 24px;
}

.transcription {
    font-weight: bold;
}

.phonetic-box {
    line-height: 30px;
    font-size: 20px;

    .letter {
        display: inline-block;
        width: 16px;
    }

    .sound-sign {
        display: inline-block;
        width: 25px;
        text-align: center;
    }
}

.text-muted.small.hidden-print {
    display: none;
}

.label.label-primary {
    display: block;
    margin-top: 25px;
}

.sound {
    display: inline-block;
    width: 30px;
    height: 30px;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    text-align: center;
    color: white;

    &.consonant-hard {
        background: $blue;
    }

    &.vowel {
        background: $red;
    }

    &.consonant-soft {
        background: $green;
    }

    &.vowel-dual {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            background: $green;
            z-index: -1;
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            width: 50%;
            height: 100%;
            background: $red;
            z-index: -1;
        }
    }

    &.consonant-dual {
        position: relative;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 50%;
            height: 100%;
            background: $blue;
            z-index: -1;
        }

        &:after {
            content: '';
            position: absolute;
            left: 50%;
            top: 0;
            width: 50%;
            height: 100%;
            background: $green;
            z-index: -1;
        }
    }

    &.nulled {
        background: gray;
    }
}

#setAccentBox {
    display: none;
}

#showAccentBox {
    @extend .btn;
    @extend .btn-success;
}

.word-accent {
    display: block;
    margin-top: 5px;

    .char {
        @extend .btn;
        @extend .btn-primary;
        margin: 0 5px;
        font-size: 20px;
        padding-top: 3px;
        padding-bottom: 3px;
    }
}

.btn {
    &-primary, &-success {
        color: white !important;
    }
}

.list {
    padding-left: 0;

    li {
        list-style: none;
        display: inline-block;

        a {
            text-decoration: none;
            display: inline-block;
            color: #368200;
            font-weight: 600;
            padding: 3px 8px;
            margin-bottom: 5px;
            border-radius: 10px;
            border: 2px solid #368200;
            transition: all .2s;

            &:hover {
                background: #368200;
                color: #fff;
            }
        }
    }
}

.table {
    font-size: 20px;
    text-decoration: none;
    font-weight: 500;
    border-bottom: 2px solid;
    margin-left: 10px;
}

body {
    background: #ddd;
    font-family: Titillium, Arial, sans-serif;

    & > .container {
        background: white;
        box-shadow: 6px 0 0 rgba(0, 0, 0, .04), -6px 0 0 rgba(0, 0, 0, .04);
    }

    h1, h2, h4 {
        color: #444 !important;
        margin-top: 30px;
        margin-bottom: 10px;
        font-family: Georgia, serif;
        font-size: 34px;
    }

    h4 {
        font-size: 26px;
    }

    p {
        font-size: 14px;
        color: #444;
    }
}

.card {
    border: none;
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, .175);
    margin-bottom: 30px;

    &-header {
        background-color: transparent;
        border-bottom: none;
        font-size: 26px;
        padding-bottom: 0;
        //padding-top: 22px;
        margin-top: 10px;
    }
}

.sostav {
    & > a {
        color: #444;

        & > p {
            display: none;
        }
    }

    #morphems-desc0 {
        margin-bottom: 10px;
    }
}

.sostav, .page-sostav {
    .wrapper0, & > p {
        display: none;
    }

    svg {
        display: none;
    }

    .root {
        position: relative;
        display: inline-block;

        &:before {
            content: "";
            border-radius: 100px 100px 0 0;
            border-top: 4px solid #ccc;
            border-left: 4px solid #ccc;
            border-right: 4px solid #ccc;
            display: block;
            height: 10px;
            position: absolute;
            left: 0;
            top: 0;
            width: 90%;
            margin-left: 5%;
        }
    }

    .prefix {
        position: relative;
        display: inline-block;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 95%;
            height: 6px;
            border-top: 4px solid #ccc;
            border-right: 4px solid #ccc;
        }
    }

    .suffix {
        position: relative;
        display: inline-block;

        &:before {
            content: '';
            display: inline-block;
            position: absolute;
            top: 1px;
            left: 1%;
            height: 10px;
            width: calc(98% - 10px);
            margin-left: 5px;
            background: url('/suffix.png');
            background-size: 100% 9px;
            background-repeat: no-repeat;
            background-position-x: center;
        }
    }

    .end {
        border: 4px solid #ccc;
        padding: 0 6px;
        margin-left: 3px;
    }
}

.page-sostav {
    svg {
        display: none;
    }

    .wrapper0 {
        display: block;
        font-size: 50px;

        & span {
            padding: 0 5px;
        }
    }

    #morphems-desc0 {
        margin-top: 30px;
    }
}

.header {
    &-image {
        img {
            width: 100%;
        }
    }
}

.related {
    li {
        a {
            background: #6c757d;
            color: white;
            font-weight: 400;
            font-size: 14px;
            transition: all .2s;
            border: none;
        }

        &:hover {
            a {
                background: #575e65;
            }
        }
    }
}

.navbar-green {
    background: $darkgreen !important;
    padding: 0 15px;

    .nav-link {
        padding: 0 !important;

        a {
            display: inline-block;
            color: white;
            text-decoration: none;
            padding: 15px 14px;
            opacity: .7;
            transition: all .2s;
        }

        &:hover {
            a {
                opacity: 1;
                background: rgba(0, 0, 0, .1);
            }
        }

        &.accent a {
            color: yellow;
            opacity: 1;
        }
    }
}

.nav-mobile {
    height: 50px;
    background: $darkgreen;

}

.rmenu {
    background: #f0f0f0;

    &-header {
        display: block;
        background: $green;
        margin: 0 -12px;
        padding: 0 12px;
        line-height: 60px;
        color: rgba(255, 255, 255, .8);
        font-size: 14px;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 15px;
    }

    &-nav {
        width: 100%;

        .nav-item {
            margin: 0 -12px;
            background: #368200;

            a {
                padding: 0 1em !important;
                line-height: 55px;
                color: #fff !important;
                opacity: .7;

                &:hover, &.active {
                    opacity: 1;
                    background: rgba(0, 0, 0, .1);
                }
            }
        }
    }
}

.footer {
    text-align: center;
    border-top: 1px solid #eee;

    ul {
        justify-content: center;
    }

    a {
        color: #999;
        padding: 12px 13px;
        text-decoration: none;
        line-height: 44px;
    }
}

@media (max-width: 769px) {
    .rmenu {
        .navbar {
            position: unset !important;
        }

        .nav-item {
            margin: 0;
        }
    }

    .navbar-toggler {
        position: absolute;
        top: 76px;
        height: 50px;
        width: 60px;
        padding: 0;
        right: 0;
        border: none;
        box-shadow: inset 1px 0 0 rgba(255, 255, 255, .05), -1px 0 0 rgba(0, 0, 0, .2);
        outline: none !important;

        span {
            background: url('/phonetic/menu.png') !important;
            background-position: center !important;
        }
    }

    #navbarSupportedContent {
        position: absolute;
        top: 125px;
        left: 0;
        z-index: 100;
    }
}

.special-word {
    margin-top: 15px;
    min-height: 200px;

    * {
        font-size: 19px;
        line-height: 1.5;
        color: #444;
    }

    hidden {
        display: none !important;
    }

    #otvet {
        font-size: 24px;
        font-weight: 600;
    }
}


.page-sostav .end_null {
    display: inline-block;
    width: 35px;
    height: 35px;
    border: 4px solid #ccc;
    position: relative;
    top: 28px;
    margin-left: 5px;
}

.page-sostav .fsuffix {
    position: relative;
    display: inline-block;
}

.page-sostav .fsuffix:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 1px;
    left: 1%;
    height: 10px;
    width: calc(98% - 10px);
    margin-left: 5px;
    background: url(/phonetic/suffix.png);
    background-size: 100% 9px;
    background-repeat: no-repeat;
    background-position-x: center;
}

.spelling {
    &-variants {
        margin-top: 0;

        .variant {
            display: inline-block;
            padding: 15px 25px;
            padding-top: 12px;
            background: white;
            border-left: 6px solid white;
            border-radius: 4px;
            text-align: center;
            margin-left: 15px;
            margin-right: 15px;
            margin-bottom: 30px;

            span {
                display: block;
                font-size: 20px;
            }

            .title-small {
                font-size: 12px;
                margin-bottom: -3px;
                color: #28a745;
            }

            .body i {
                font-style: normal;
                padding-bottom: 3px;
                border-bottom: 3px solid #28a745;
            }

            &-ok {
                border-color: #28a745;
            }

            &-error {
                border-color: #dc3545;

                .title-small {
                    color: #dc3545;
                }

                .body i {
                    border-bottom: 3px solid #dc3545;
                    text-decoration: line-through;
                    text-decoration-color: #dc3545;
                }
            }
        }
    }
}

.letters {
    display: flex;
    flex-wrap: wrap;
    //justify-content: center;
    list-style: none;
    margin-top: 30px;

    li a {
        display: inline-block;
        font-size: 19px;
        line-height: 36px;
        padding: 1px 12px 0;
        margin-right: 15px;
        margin-bottom: 15px;

        &._current {
            color: #fff;
            background: #368200;
        }
    }
}

nav[role="navigation"] {
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .words_h1 {
        font-size: 28px;
    }
    .letters {
        margin-top: 15px;

        li a {
            font-size: 14px;
            line-height: 30px;
            padding: 1px 10px 0;
            margin-right: 8px;
            margin-bottom: 5px;
        }
    }
}
